<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">
        OTP Authenticator
    </title>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">OTP Authenticator</a>
    </div>
</nav>

<main class="container mt-4">
    <div layout:fragment="content">
        <!-- Child page content goes here -->
    </div>
</main>

<script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.min.js}"></script>

</body>
</html>