<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Otp Authentication</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
</head>
<body>

<div class="container">
    <div layout:fragment="content">
        <!--Your other pages content renders here-->
    </div>
</div>

<script th:src="@{webjars/bootstrap/5.3.8/js/bootstrap.min.js}"></script>
</body>
</html>